:root {
    /* colors */
    --black: #3B434E;
    --gray-light: #EBEBEB;
    --gray-dark: #787D85;
    --white: #fff;
    --primary: #7653FC;
    --primary-hover: #593dc9;
    --red: #FC836D;
    --green: #1DC37E;
    --green-light: #C8F8E4;

    /* fonts */
    --font-family: "Noto Sans", serif;

}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: var(--font-family);
    color: var(--black);
    background: #f5f6f8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
